@font-face {
    font-family: 'KCC-eunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
section {
    width: 100%;
    height: 80px;
    top: 0;
}
section #sub_title {
    margin-top: 110px;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}
section #sub_menu {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    /* border: solid 1px red; */
}
section #sub_menu li {
    display: inline;
    padding: 20px 20px 0 20px;
    /* border: solid 1px red; */
}

#vg_area {
    margin-top: 20px;
    /* border: solid 1px red; */
    text-align: center;
    height: fit-content;
    float: left;
}
#vg_area .title {
    width: 100%;
    font-size: 90px;
    /* border: solid 1px red; */
    font-family: 'Cafe24Shiningstar';
    font-weight: 100;
}
#vg_area .content {
    width: 100%;
    font-size: 18px;
    text-align: left;
    margin-top: 50px;
    float: left;
    /* border: solid 1px red; */
}
#vg_area .content img {
    float: right;
}
#vg_area .content h1 {
    padding: 0 5px 5px 0;
    width: fit-content;
    float: left;
    font-size: 40px;
}
#vg_area .content p {
    font-size: 15px;
    float: left;
}
span {
    color: rgb(210, 154, 90);
}
.b_img1 {
    width: 100%;
    height: 150px;
    background-image: url(../img/mel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    border: solid 1px black;
    margin-bottom: 15px;
}
.b_img2 {
    width: 100%;
    height: 150px;
    background-image: url(../img/basic2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    border: solid 1px black;
    margin-bottom: 15px;
}
.b_img3 {
    width: 100%;
    height: 150px;
    background-image: url(../img/rael2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    border: solid 1px black;
    margin-bottom: 15px;
}
.b_text {
    float: left;
    width: 400px;
    /* border: solid 1px red; */
}
.b_item {
    width: 540px;
    /* border: solid 1px red; */
    float: right;
}
.b_item img {
    float: right;
    height: 164px;
    width: 164px;
    margin-left: 14px;
    border: solid 1px black;
}
.b_item img:hover {
    transform: scale(0.97);
}
