@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; */
@font-face {
    font-family: 'KCC-eunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    overflow: hidden;
}


/*main*/
#main_area {
    margin-top: 100px;
}
#main_area #main {
    width: 60%;
    height: 1500px;
    margin: auto;
    /* background-color: white; */
    text-align: center;
    position: relative;
    top: 0;
    border: solid 1px rgb(56, 56, 56);
}
#main_area img {
    width: 150%;
    position: relative;
    top: 30px;
    left: -150px;
}
#main_area #love {
    font-size: 38px;
    font-style: italic;
    position: absolute;
    right: -170px;
    top: 45%;
    transform: rotate(270deg);
}

/*footer*/
footer {
    position: fixed;
    bottom: 0;
}