@font-face {
    font-family: 'KCC-eunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
section {
    width: 100%;
    height: 80px;
    top: 0;
}
section #sub_title {
    margin-top: 110px;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}
section #sub_menu {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    /* border: solid 1px red; */
}
section #sub_menu li {
    display: inline;
    padding: 20px 20px 0 20px;
    /* border: solid 1px red; */
}

#vg_area {
    margin-top: 20px;
    /* border: solid 1px red; */
    text-align: center;
    height: fit-content;
    float: left;
}
#vg_area .title {
    width: 100%;
    font-size: 90px;
    /* border: solid 1px red; */
    font-family: 'Cafe24Shiningstar';
    font-weight: 100;
}
#vg_area .content {
    width: 80%;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    float: left;
    /* border: solid 1px red; */
}
#vg_area .content h1 {
    padding: 0 5px 5px 0;
    width: fit-content;
    float: left;
    font-size: 40px;
}

#vg_area .content p {
    padding: 0 5px 5px 0;
    width: fit-content;
    float: left;
}
span {
    color: rgb(64, 100, 220);
}

#vg_area #cont2 {
    width: 80%;
    float: right;
    text-align: left;
}
#vg_area #cont2 h1 {
    float: right;
}